html {
    background: rgb(243, 243, 243);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15pt;
}

@media print {
    #body {
        display: none;
    }
}

header {
    width: 100%;
    height: 64px;
    backdrop-filter: blur(32px);
}

.header-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-bar-top {
    padding: 8px;
    height: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: medium;
    align-content: center;
}

/* Style the links inside the navigation bar */
.nav-item {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Add a hover effect to the links */
.nav-item:hover {
    background-color: dodgerblue;
    border-radius: 12px;
    /* Add a round corner to the hovered link */
}

/* Add a Active effect to the links */
.nav-item:active {
    background-color: dodgerblue;
    border-radius: 4px;
    /* Add a round corner to the hovered link */
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.header-sticky + .container-top-content {
    padding-top: 64px;
}

.github-corner {
    position: absolute;
    z-index: 40;
    top: 0;
    right: 0;
    border-bottom: 0;
    text-decoration: none;

    svg {
        height: 70px;
        width: 70px;
        fill: #000000;
        color: #ffffff;
    }

    &:hover {
        .octo-arm {
            animation: octocat-wave 560ms ease-in-out;
        }
    }
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

body {
    display: grid;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /*background-color: #1e2327;*/
    background-size: cover;
    /*animation-name: gradient-colors;
    animation-duration: 60s;
    animation-iteration-count: infinite;
     */
    min-height: 100vh;
}

.profile-name {
    font-family: 'Roboto B', sans-serif;
    font-size: xxx-large;
    color: white;
}

.profile-username {
    font-family: 'Roboto B', sans-serif;
    font-size: x-large;
    color: wheat;
}

.logo {
    float: left;
    width: 100px;
    /* Adjust the width as you like */
    height: 100px;
    /* Adjust the height as you like */
    margin: 10px;
    /* Add some margin around the image */
    padding: 10px;
    /* Add some padding around the image */
}

.container-center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    crop: initial;
    height: auto;
}

.image-circle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 50%;
}

.box-avatar-center {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: initial;
}

.box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-center-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    border: 1px solid white;
    border-radius: 16px;
}

.box-center-outlined-live {
    display: block;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    margin: 0 auto;
    width: 50%;
    padding: 4px;
    border-radius: 50%;
}

.profile-box {
    display: block;
    margin: 0 auto;
    width: 32%;
    padding: 50px 0;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 16px;
}

.img-hero {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or contain */
    object-position: center; /* or any other value */
}

.container-top {
    display: flex;
}

.container-top-pane-left {
    flex: 1; /* equally divide the available space */
    padding: 0;
    margin: 0;
    background-color: #8C1D18;
}

.container-top-content {
    flex: 3; /* equally divide the available space */
    padding: 0;
}

.container-top-content-section {
    padding: 0;
    margin: 0;
}

.container-top-pane-right {
    flex: 1; /* equally divide the available space */
    padding: 0;
    margin: 0;
    background-color: #4F378B;
}

.container-bottom {
    display: flex;
}

.container-bottom-column {
    flex: 1; /* equally divide the available space */
    padding: 10px;

    background-color: lightgrey;
    font-family: 'Roboto B', sans-serif;
    font-size: medium;
    bottom: 16px;
}

.container-bottom-column-a {
    text-decoration: none;
    color: black;
}

.container-bottom-column-a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}


@media screen and (max-width: 900px) {

    .container-top-pane-right {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    .container-top-pane-left {
        display: none;
    }
}

/*
for screen of <= 600px
 */
@media screen and (max-width: 600px) {

    .container-bottom {
        flex-direction: column; /* stack the columns vertically */
    }
}

.img-center {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.list-start {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    display: inline-block;
    /* Make the list an inline element */
    vertical-align: middle;
    /* Align the list with the middle of the image */
}

.list-center {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    float: inherit;
    display: flex;
    /* Make the list an inline element */
    vertical-align: middle;
    /* Align the list with the middle of the image */
}

.list-end {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    float: right;
    display: inline-block;
    /* Make the list an inline element */
    vertical-align: middle;
    /* Align the list with the middle of the image */
}

.gradient-text-yellow {
    /* Define the colors and size of the gradient */
    --color-one: hsl(15 90% 55%);
    --color-two: hsl(40 95% 55%);
    --bg-size: 400%;
    font-size: clamp(1rem, 5vmin, 4rem);

    /* Apply the gradient as a background and clip it to the text */
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
    ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    /* Animate the background position to create the movement effect */
    animation: move-bg 8s linear infinite;
}

/* Define the keyframes for the animation */
@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}

.gradient-text {
    /* Fallback: Set a background color. */
    /*background-color: #1e2327;
    /* Create the gradient. */
    /*background-image: linear-gradient(60deg, #f3ec78, #af4261);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: gradient-colors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes gradient-colors {
    0% {
        background-color: blueviolet
    }

    25% {
        background-color: dodgerblue;
    }

    50% {
        background-color: mediumslateblue;
    }

    100% {
        background-color: rebeccapurple;
    }
}

footer {
    background-color: #1e2327;
}

/* Style the footer with a grey background and some padding */
.footer-upper {
    font-family: 'Roboto B', sans-serif;
    font-size: medium;
    padding: 20px;
    bottom: 0;
}

/* Style the footer links */
.footer-upper a {
    color: lightgrey;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 32px;
}

/* Change the background color on mouse-over */
.footer-upper a:hover {
    background-color: #ddd;
    color: black;
}

.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.cookie-banner-close {
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.p:before {
    content: "PREFIX-";
}

.p:after {
    content: "-SUFFIX";
}

.a-internal:hover:after {
    content: " 🡢";
}

.a-learn-more:after {
    content: " 🡢";
}

.a-external:after {
    content: " 🡥";
}

.cookie-settings {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10010;
    width: 113px;
    height: 113px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.32), 0 3px 6px rgba(0, 0, 0, 0.39);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.32), 0 0 3px rgba(0, 0, 0, 0.39);
    -webkit-transform: rotate(45deg) translate(0, 80px);
    -ms-transform: rotate(45deg) translate(0, 80px);
    transform: rotate(45deg) translate(0, 80px);
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 6px 0 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
    transition: -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: slidein;
    animation-name: slidein
}

#cookie-icon {
    background: url("assets/ico-cookie.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
}